<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= config.title %></title>
    <%- partial('partials/import-css.ejs') %>
  </head>
  <body class="mdui-drawer-body-left mdui-theme-layout-dark" style="padding-top: 20px">
    <div class="mdui-drawer" id="drawer">
      <ul class="mdui-list">
        <% theme.rss.forEach(function(item) { %>
        <a class="mdui-list-item mdui-ripple" href="<%= item %>">
          <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
          <div class="mdui-list-item-content"><%= item %></div>
        </a>
        <% }) %>
      </ul>
    </div>

    <div class="mdui-container">xxx</div>

    <%- partial('partials/import-js.ejs') %>
    <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
  </body>
</html>
